.section{
    display: flex;
    margin-top: 63px;
    flex-direction: column;
    align-items: flex-start;
}

.section__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.section__list__text{
    margin: 0 20px 0 0;
    font-family: 'Cabinet Grotesk', sans-serif, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.section__list__button{
    font-family: 'Cabinet Grotesk', sans-serif, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border-style: none;
    padding: 0;
}

.section__gallery{
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-gap: 20px 20px;
    justify-content: center;
}