.side-bar{
    margin-top: 47px;
    display: flex;
    width: 229px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 116px;
}

.side-bar__user__name{
    margin: 0;
    font-family: 'Cabinet Grotesk', sans-serif, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.side-bar__user__avatar{
    height: 56px;
    width: 56px;
}