.form__set{
    border-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 28px;
    padding: 0;
}

.form__set:last-child{
    margin-bottom: 32px;
    padding: 0;
}

.form__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 440px;
    height: 52px;
}

.form__input{
    border-style: none;
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    align-items: center;
    border-width: 1px;
}

.form__legend__title{
    margin: 0;
}

.form__signup{
    position: absolute;
    font-family: "Cabinet Grotesk", sans-serif, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 34px;
    left: 164px;
    color: rgba(0,0,0,0.3);
}