.item__image{
    height: 498px;
    width: 498px;
    overflow: hidden;
}

p{
    margin: 20px 0 12px 32px;
    padding: 0;
    font-family: 'Cabinet Grotesk', sans-serif, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.item__image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item__weather{
    margin-top: 0;
    margin-bottom: 32px;
}