.header {
  margin: 32px 40px 0;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.header-button-and-user-container {
  align-items: center;
}

.header__logo {
  height: 40px;
  width: 89px;
  margin-right: 24px;
}

.header__date {
  font-family: "Cabinet Grotesk", sans-serif, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  height: 24px;
  margin: 0;
  align-self: center;
}

.header__button {
  padding: 0;
  height: 24px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  border-style: none;
  font-family: "Cabinet Grotesk", sans-serif, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__user {
  align-items: center;
}

.header__user__name {
  margin: 0;
  margin-right: 12px;
  font-family: "Cabinet Grotesk", sans-serif, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__user__avatar {
  height: 40px;
  width: 40px;
}

.header__link {
  text-decoration: none;
  color: inherit;
}
