.weather-card{
    background: url(../../../assets/Sunny.png) center no-repeat;
    background-size: cover;
    height: 80px;
    background-color: #00A3FF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.weather-card__temperature{
    font-family: 'Cabinet Grotesk', sans-serif, serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
    margin: 0;
    margin-left: 16px;
}